html {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.background1, .background2 {
    padding-bottom: 30px;
}

.background1 {
    background-color: black;
    position: relative;
    color: white;
}

.background2 {
    background-image: url(/assets/background_main2.png);
    position: relative;

    color: black;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
}

.title h1 {
    font-size: 6em;
}

.title h2 {
    font-size: 2em;
}

.scroll {
    position: absolute;
    bottom: 5%;
    right: 50%;
    height: 30px;
}

.bounce {
    animation: bounce 1.5s infinite;
}

.mymedia {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 10px;
}

.medialink {
    width: 48px;
    height: 48px;
    padding: 4px;
    margin: 2px;
    transition-duration: 1s;
}

.medialink:hover {
    transform: scale(1.15);
    background-color: #718EA4;
    border-radius: 10%;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 50%;
    margin: auto;
}

.project {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;

}

.project:hover {
    background-color: grey;
    color: white;
}

div#squares {
    position: relative;
    height: 250px;
    width: 250px;
    padding-top: 50px;
    margin: auto;
}

div#squares .square1 {
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    margin: auto;
    background: white;
    border-radius: 5%;

    animation: rotate1 3s infinite;
}

div#squares .square2 {
    display: inline-block;
    position: absolute;
    width: 180px;
    height: 180px;
    top: 35px;
    left: 35px;
    margin: auto;
    background: grey;
    border-radius: 5%;

    animation: rotate2 3s infinite;
}

div#squares .square3 {
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 130px;
    top: 60px;
    left: 60px;
    margin: auto;
    background: black;
    border-radius: 5%;

    animation: rotate3 3s infinite;
}

@keyframes bounce {
    
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
}

@keyframes rotate1 {
    0% {transform: rotate(45deg);}
    100% {transform: rotate(135deg);}
}

@keyframes rotate2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(225deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(315deg);
    }
}