h1 {
    text-align: center;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(-40deg, rgb(255, 255, 255), rgb(149, 156, 173));
}

.mymedia {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    margin: auto;
    padding: 10px;
}

.medialink {
    width: 48px;
    height: 48px;
    padding: 4px;
    margin: 2px;
    transition-duration: 1s;
}

.medialink:hover {
    transform: scale(1.15);
    background-color: #718EA4;
    border-radius: 10%;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 60%;
    margin: auto;
}

.project {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;

    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;

}